/* CSS Style Fonts */

@font-face {
    font-family: Lato;
    src: url(../css/Fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Eurofurence;
    src: url(../css/Fonts/Eurofurence/eurof55.ttf);
}

@font-face {
    font-family: Acme;
    src: url(../css/Fonts/Acme/Acme-Regular.ttf);
}

@font-face {
    font-family: Bangers;
    src: url(../css/Fonts/Bangers/Bangers-Regular.ttf);
}

@font-face {
    font-family: Satisfy;
    src: url(../css/Fonts/Satisfy/Satisfy-Regular.ttf);
}
/* CSS Style Fonts */

/* CSS Base Settings */

* {
    box-sizing: border-box;
    font-family: 'Eurofurence', sans-serif;
}

body {
    margin: 0;
    height: 100vh;
}

h1 {
    margin: 0;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1em;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}


#background-balls {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -5;
}

/* CSS Base Settings */

/* Header */

header {
    padding: 1em 0;
    background: #00171f;
    color: #00a8e8;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

header > input {
    display: none;
}

header nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    text-align: center;
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 500ms;
}



header h1 {
    margin: auto;
}

.nav-menu-toggle-label {
    margin-left: 1.5em;
}

header input:checked+nav {
    transform: scaleY(1);
}

.nav-menu li:first-child input{
    width: 60%;
    height: 2rem;
}


.nav-menu {
    background-color: rgba(128, 128, 128, 0.692);
    color: rgb(243, 8, 8);
}

.nav-menu li {
    height: 3em;
    font-size: 1.5em;
    background: #003459;
}

.list-item+.list-item {
    border-top: 1px solid magenta;
}

#meme-canvas {
    border: 5px dashed silver;
}

.list-item a {
    height: 100%;
    width: 100%;
}


.nav-menu-toggle-label i::before {
    font-size: 2em;
}

/* Main Gallery */

.keyword-search-container {
    margin: 0 auto;
}

.keyword-label-input-container {
    display: none;
    align-self: stretch;
    background-color: aquamarine;
    padding: 1rem;
}

.keyword-search-container input, .keyword-search-container label{
    margin: 0 0 0 1em;
    font-size: 2rem;
}

.famous-keyword-container {
    background: #003459;
    align-self: stretch;
    flex-basis: 10rem;
    color: #bdc2bf;
}

.famous-keyword-container * {
    font-family: 'Lato', sans-serif;
}

.famous-keyword-container h3 {
    transition: color 0.2s ease-in;
    margin-right: 1em;
}
.famous-keyword-container h3:hover {
    font-size: 6rem;
    color: white;
}

.main-gallery-container {
    padding: 10px;
}

.main-gallery.clean-list {
    display: grid;
    margin: 2rem auto;
}

.gallery-item {
    grid-column: span 2;
    position: relative;
}

.gallery-item a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* width: 100%;
    height: 100%; */
    display: inline-block;
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
}




.gallery-item::before {
    /* Goldenrod outline on the hexagon */
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(40, 202, 40);
    clip-path: polygon(50% 0, 93.3% 25%, 93.3% 75%, 50% 100%, 6.7% 75%, 6.7% 25%);
    transform: scale(1.077);
    transition: transform 0.3s;
}

.gallery-item:hover::before {
    transform: scale(1.154);
}


/* Meme Canvas and Editor */

.meme-editor-canvas {
    background-color: rgba(76, 175, 80, 0.8);
    display: none;
}

.meme-editor-buttons {
    margin: 2em 0;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
}

.meme-editor-buttons button{
    background: #9bccf7;
    padding: 0.5em;
    font-size: 1em;
    flex-basis: 230px;
    margin: 0 1em;
}

.meme-editor-buttons button:first-child{
    font-size: 2em;
    text-transform: capitalize;
    position: relative;

}

.meme-editor-buttons button:first-child::before {
    content: 'â†';
    position: absolute;
    left: 0.2em;
    transform: scaleX(0);
    transition: transform 200ms;
    transform-origin: left;
}

.meme-editor-buttons button:first-child:hover::before {
    transform: scaleX(1);
    transform-origin: right;
    transition: transform 200ms 300ms;
}

#meme-canvas {
    border:5px dashed silver;
    margin-top: 1.5rem;
}

.meme-editor {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.meme-editor * {
    font-family: Bangers;
    flex-grow: 2;
    text-align: center;
    margin-bottom: 1rem;
}

.clear-canvas button{
    background-color: rgba(245, 245, 220, 0);
}


.meme-editor div {
    background: rgba(0, 23, 31, 0.7);
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid rgba(1, 27, 39, 0.616);
}

.meme-editor > div{
    margin-top: 1rem; 
    padding: 1.5rem;
    border-radius: 2px;
    /* background-color: rgba(1, 66, 58, 0.308); */
    background: linear-gradient(180deg, rgba(155,204,247,1) 0%, rgba(0,128,128,1) 100%);
    height: 1.5rem; 
}

.meme-editor > div:hover {
    background: linear-gradient(0deg, rgba(155,204,247,1) 0%, rgba(0,128,128,1) 100%);
}

.clear-canvas-btn:hover {
    cursor: pointer;
}


/* CSS Helpers */

/* Lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Lists */



/* Flex */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-self-center {
    align-self: center;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-start {
    justify-self: flex-start;
}

.justify-self-end {
    justify-self: flex-end;
}

.flex-wrap {
    flex-wrap: wrap;
}
/* Flex */

/* FONTS */

option[value=lato]{
    font-family: Lato;
}

option[value=eurofurence] {
    font-family: Eurofurence;
}

option[value=acme]{
    font-family: Acme;
}

option[value=bangers]{
    font-family: Bangers;
}

option[value=satisfy]{
    font-family: Satisfy;
}

option[value=ariel]{
    font-family: Arial, Helvetica, sans-serif;
}

option[value=tahoma]{
    font-family:  Tahoma, 'Segoe UI',Geneva, Verdana, sans-serif
}

/* FONTS */

.main-editor-mode-padding {
    padding: 2em 0;
}

/* CSS Helpers */

/* Media Rules */

@media (min-width: 17rem) {
    .main-gallery.clean-list {
        max-width: 15rem;
        grid-template-columns: repeat(3, 5rem);
        grid-auto-rows: 160px;
    }

    .gallery-item {grid-column: span 2}

    .gallery-item:nth-child(even) {grid-column: 2/4}
}

@media (min-width: 22rem) {
    .main-gallery.clean-list {
        max-width: 20rem;
        grid-template-columns: repeat(4, 5rem);
        grid-auto-rows: 160px;
    }

    .gallery-item:nth-child(even) {grid-column: span 2}

    .gallery-item:nth-child(3n) {grid-column: 2/4}
}

@media (min-width: 32rem) {

    .main-gallery.clean-list {
        max-width: 30rem;
        grid-template-columns: repeat(6, 5rem);
    }

    .gallery-item:nth-child(3n) {grid-column: span 2;}

    .gallery-item:nth-child(5n-1) {grid-column: 2/4;}
}

@media (min-width: 42rem) {
    header {
        position: relative;
    }

    .nav-menu-toggle-label {visibility: hidden}
    .nav-menu {display: none}

    .keyword-label-input-container {
        display: flex;
    }
    
    .main-gallery.clean-list {
        max-width: 40rem;
        grid-template-columns: repeat(8, 5rem);
    }

    .gallery-item:nth-child(5n-1) {grid-column: span 2;}

    .gallery-item:nth-child(7n-2) {grid-column: 2/4;}
}

@media (min-width: 66rem) {

    .meme-editor-buttons {
        flex-direction: column;
        justify-content: center;
    }

    .meme-editor-buttons button{
        flex-basis: unset;
        margin: 1em 0;
    }

    .meme-editor-buttons button:first-child::before {
        left: 0;
    }

    .meme-editor-canvas {
        flex-direction: row;
        justify-content: space-around;
    }

    .meme-editor {
        flex-wrap: nowrap;
        flex-direction: column;
    }

}