/* CSS Style Fonts */

@font-face {
    font-family: Lato;
    src: url(../css/Fonts/Lato/Lato-Regular.ttf);
}

@font-face {
    font-family: Eurofurence;
    src: url(../css/Fonts/Eurofurence/eurof55.ttf);
}

/* CSS Style Fonts */

/* CSS Base Settings */

* {
    box-sizing: border-box;
    font-family: 'Eurofurence', sans-serif;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 1em;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

/* CSS Base Settings */

/* Header */

header {
    padding: 1em 0;
    background-color: rgba(50, 50, 50, 0.9);
    color: hotpink;
    position: relative;
}

header input {
    display: none;
}

header nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    text-align: center;
}

header nav {
    transform: translateX(-100%);
    transition: transform 500ms;
}
.text {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
header input:checked + nav{
    transform: translateX(0);
}

.nav-menu {
    background-color: rgba(128, 128, 128, 0.692);
    color: rgb(243, 8, 8);
}

.nav-menu li {
    height: 3em;
    font-size: 1.5em;
}

.list-item + .list-item {
    border-top: 1px solid magenta;
}

#meme-canvas {
    border: 1px solid black;
}
.list-item a {
    height: 100%;
    width: 100%;
}
/* .list-item a {
    width: 100%;
    height: 100%;
} */

.nav-menu-toggle-label i::before {
    font-size: 2em;
}

/* header input:checked */
/* Header */




/* CSS Helpers */

/* Lists */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* Lists */



/* Flex */

.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-self-center {
    align-self: center;
}
/* Flex */


/* CSS Helpers */